<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Currency Api</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
     <div class="container pt-5">

    <div class="row mb-2 ">

    <div class="col-md-4 text-center">

      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <table cellpadding="10" class="pull-left mr-4">
          <tr>
            <td class="bg-dark" style="color:white;"colspan="3">
              <b>Currencies</b>
              <td>
          </tr>
        <div class="card-body d-flex flex-column align-items-start ">


            <tr>
          {% for i in api.items %}

          <div class="mb-2 text-primary">
            <td>
            <h6 class="text-center">{{ i.0 }}</h6>
            <img src="{% static  i.0  %}.png" height="50px" alt=""><br/>
            {% for j in i %}

              {% for k in j.items %}

                {% for p in k %}

                  {{ p }}

                {% endfor %}


              {% endfor %}



            {% endfor %}
          </td>
          </div>

          {% endfor %}
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<div class="container">


<div class="row">
  <div class="col-12 text-center">

              <p class="bg-primary "> Developed by Blackart &copy {% now 'Y' %}</p>

      </div>

    </div>

    </div>
  </body>
</html>
